{% form 'customer' %}
  {% if form.posted_successfully? %}
    <h3 class="success">{{ 'general.password_page.signup_form_success' | t }}</h3>
  {% else %}
    <h3>{{ 'general.password_page.signup_form_heading' | t }}</h3>
    {% if section.settings.text %}
      <div class="rte">
        {{ section.settings.text }}
      </div>
    {% endif %}
    <div class="form">
      <div class="inputs">
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <input class="text full{% if form.errors contains 'email' %} error{% endif %}" type="text" name="contact[email]" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" aria-label="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
        <span class="input-group-btn">
          <input type="submit" class="btn solid" value="{{ 'general.password_page.signup_form_submit' | t }}">
        </span>
      </div>
      {% if form.errors %}
        {% for field in form.errors %}
          <div class="field-error">{{ form.errors.messages[field] }}</div>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
{% endform %}