<div class="login">
  {% render 'logo' %}
  {% form 'storefront_password' %}
    <h3>{{ 'general.password_page.login_form_heading' | t }}</h3>
    <div class="form">
      <div class="inputs">
        <input class="text full password" type="password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" aria-label="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        <span class="input-group-btn">
          <input type="submit" class="btn solid" name="commit" value="{{ 'general.password_page.login_form_submit' | t }}">
        </span>
      </div>
      {% if form.errors %}
        {% for field in form.errors %}
          <div class="field-error">{{ form.errors.messages[field] }}</div>
        {% endfor %}
        <script type="text/javascript">
          window.showPasswordLogin = true;
        </script>
      {% endif %}
      <div class="link">
        {{ 'general.password_page.admin_link_html' | t }}
      </div>
    </div>
  {% endform %}
  <hr class="top">
  <a href="#" class="btn solid" data-action="show-landing">{{ 'general.password_page.back_link_html' | t }}</a>
</div>