{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}
<!doctype html>
<!-- Colors Theme Version 9.2.1 -->
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<link rel="canonical" href="{{ canonical_url | default: shop.url }}">
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

    {%- liquid
      assign logo_font = settings.logo_font
      assign header_font = settings.header_font
      assign header_font_bolder = header_font | font_modify: 'weight', '+100'
      assign buttons_font = settings.buttons_font
      assign base_font = settings.base_font
    -%}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    {%- unless header_font.system? and buttons_font.system? and base_font.system? and logo_font.system? or settings.logo -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <link rel="preload" href="{{ 'colors.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'colors.js' | asset_url }}" as="script">

    {% unless settings.logo or logo_font.system? %}
      <link rel="preload" as="font" href="{{ logo_font | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}
    {% unless header_font.system? %}
      <link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
      <link rel="preload" as="font" href="{{ header_font_bolder | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}
    {% unless buttons_font.system? %}
      <link rel="preload" as="font" href="{{ buttons_font | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}
    {% unless base_font.system? %}
      <link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>
    {% endunless %}
    <link rel="preload" as="font" href="{{ 'colors.woff' | asset_url }}" type="font/woff" crossorigin>

    <link rel="stylesheet" href="{{ 'colors.css' | asset_url }}" type="text/css" media="all">

    {%- if settings.favicon != blank -%}
      <link rel="icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- else -%}
      <link rel="shortcut icon" href="#">
    {%- endif -%}

    {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

    {% if page_description %}
      {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="description" content="{{ page_description | escape }}">
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
    {% endif %}

    {% render 'social-meta-tags' %}
    {% render 'javascript' %}
    {{ content_for_header }}
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} no-outlines">
    <div class="main">
      <div class="layout">
        {{ content_for_layout }}
      </div>
    </div>
  </body>
</html>