<div class="content show-background {% render 'content-classes' %}">
  <div class="inner with-layout-options centered">
    <h2 class="shopify-section-title">{{ 'customer.reset_password.section_title' | t }}</h2>
    <h1>{{ 'customer.reset_password.title' | t: email: email }}</h1>
    {% form 'reset_customer_password' %}
      <div class="row with-top-border with-bottom-border">
        <input class="text long{% if form.errors contains 'password' %} error{% endif %}" name="customer[password]" id="reset_password" placeholder="{{ 'customer.reset_password.password' | t }}" type="password">
        {% render 'form-field-error', form: form, field: 'password' %}
      </div>
      <div class="row with-bottom-border">
        <input class="text long{% if form.errors contains 'password_confirmation' %} error{% endif %}" name="customer[password_confirmation]" id="password_confirmation" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" type="password">
        {% render 'form-field-error', form: form, field: 'password_confirmation' %}
      </div>
      {% render 'form-errors', form: form %}
      <div class="row actions expanded-top">
        <button class="btn solid" name="commit" type="submit">
          {{ 'customer.reset_password.submit' | t }}
        </button>
      </div>
    {% endform %}
    {% render 'return-to-store' %}
</div>

{% schema %}
{
  "name": "t:sections.account-reset-password.name",
  "class": "section-standalone section-account"
}
{% endschema %}