<div class="content standalone {% render 'content-classes', scope: section %}">
  <style type="text/css">
    {%- liquid
      assign color_hsl_array = section.settings.color_text | color_to_hsl | split: ', '
      assign color_lightness = color_hsl_array[2] | split: '%' | first | plus: 0
      if color_lightness > 80
        assign control_color = '#000000'
      else
        assign control_color = '#ffffff'
      endif
      assign color_text_neg = control_color

      assign bg_hsl_array = section.settings.color_bg | color_to_hsl | split: ', '
      assign bg_lightness = bg_hsl_array[2] | split: '%' | first | plus: 0
    -%}

    .template-password .show-background {
      background: {{ section.settings.color_bg }} !important;
    }
    .template-password .content,
    .template-password h1,
    .template-password h2,
    .template-password h3,
    .template-password a {
      color: {{ section.settings.color_text }} !important;
    }
    .template-password input.text {
      color: {{ section.settings.color_text }} !important;
      background: {{ color_text_neg }} !important;
      {% if bg_lightness > 97 or section.settings.show_background == false %}
        background: #f7f7f7 !important;
      {% else %}
        background: white !important;
      {% endif %}
    }
    .template-password hr {
     background: {{ section.settings.color_text }}; 
    }
    .template-password .btn.solid {
      background: {{ section.settings.color_text }} !important;
      color: {{ color_text_neg }} !important;
    }
    .shopify-svg .logo{
      fill: {{ section.settings.color_text }}; 
    }

  </style>
  <div class="table">
    <div class="row">
      {% render 'password-landing' %}
      {% render 'password-login' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.password.name",
  "class": "section-password",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph__1.content"
    },
    {
      "type": "header",
      "content": "t:sections.password.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "t:sections.password.settings.newsletter_enable.label",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "t:sections.password.settings.paragraph.content"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.password.settings.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.password.settings.header__2.content"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "t:sections.password.settings.color_bg.label",
      "default": "#f7f7f7"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.password.settings.color_text.label",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "t:sections.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "label": "t:sections.settings.show_background.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "expanded",
      "label": "t:sections.settings.expanded.label",
      "default": false
    }
  ]
}

{% endschema %}